flows/Resource_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Set variable values with the Resource information gathered in the flow.</description>
        <name>Assign_Resource_Details</name>
        <label>Assign Resource Details</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>resource.Primary_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>it_Primary_Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resource.Primary_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>it_email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resource.Resource_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>it_Resource_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resource.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ta_Resource_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resource.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lu_account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resource.Target_Audience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mspl_target_audience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resource.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pl_resource_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resource.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resource.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idt_Start_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resource.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idt_End_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Resource_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the resource name and information if the resource already exists.</description>
        <name>Assign_Resource_Name</name>
        <label>Assign Resource Name</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>resource_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>it_resource_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>create_or_edit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resource_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign resource name variable with the new resource name gathered from the previous screen.</description>
        <name>Assign_Updated_Resource_Name</name>
        <label>Assign Updated Resource Name</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>resource_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>it_2nd_resource_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Existing_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EditAnotherResourceRequest</name>
        <choiceText>Edit Another Resource Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit Another Resource Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditExistingResourceRequest</name>
        <choiceText>Update My Resource Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update My Resource Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExitTheForm</name>
        <choiceText>Exit The Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit The Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>StartNewResourceRequest</name>
        <choiceText>Start New Resource Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Start New Resource Request</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check if the request is for a new Resource.</description>
        <name>Next_Action</name>
        <label>Next Action</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Exit The Form</defaultConnectorLabel>
        <rules>
            <name>Start_A_New_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pl_i_would_like_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StartNewResourceRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_New_Resource_Request</targetReference>
            </connector>
            <label>Start A New Request</label>
        </rules>
        <rules>
            <name>Update_Another_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>example_variable</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Updated_Resource_Name</targetReference>
            </connector>
            <label>Update Another Request</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the request was the cancel the resource.</description>
        <name>Request_Action</name>
        <label>Request Action</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Resource_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Request</defaultConnectorLabel>
        <rules>
            <name>Cancel_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cb_cancellation_confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Resource_Request</targetReference>
            </connector>
            <label>Cancel Request</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the request is for a new resource or for one that already exists.</description>
        <name>Request_Type</name>
        <label>Request Type</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit Existing Request</defaultConnectorLabel>
        <rules>
            <name>Start_New_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_or_edit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StartNewResourceRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_New_Resource_Request</targetReference>
            </connector>
            <label>Start New Request</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Resource exists.</description>
        <name>Resource_Decision</name>
        <label>Resource Decision</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>S_E_Missing_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Resource</defaultConnectorLabel>
        <rules>
            <name>Resource_Is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_Edit_Resource_Request</targetReference>
            </connector>
            <label>Resource Is Found</label>
        </rules>
    </decisions>
    <description>Allows users to add information about community events and resources.</description>
    <dynamicChoiceSets>
        <name>choiceset_resource_audience_type</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Target_Audience__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceset_resource_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Resource__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frm_user_fullname</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Resource Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create new Resource Request.</description>
        <name>Create_Resource_Request</name>
        <label>Create Resource Request</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <inputReference>resource</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Delete the Resource request.</description>
        <name>Delete_Resource_Request</name>
        <label>Delete Resource Request</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <inputReference>resource</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Query related Contact for Primary Contact email.</description>
        <name>Get_Existing_Contact</name>
        <label>Get Existing Contact</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Resource_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resource.Primary_Contact_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query an existing Resource record for the Resource Name and Primary Contact email.</description>
        <name>Get_Existing_Request</name>
        <label>Get Existing Request</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resource_name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <object>Resource__c</object>
        <outputReference>resource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Primary_Contact_Name__c</queriedFields>
        <queriedFields>Primary_Contact_Email__c</queriedFields>
        <queriedFields>Resource_Title__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Target_Audience__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the Resource Request.</description>
        <name>Update_Resource_Request</name>
        <label>Update Resource Request</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <inputReference>resource</inputReference>
    </recordUpdates>
    <screens>
        <name>Resource_Management</name>
        <label>Resource Management</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Resource_Name</targetReference>
        </connector>
        <fields>
            <name>Dynamic_Progress_Start</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>Flow_Steps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 1</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(247, 247, 249); font-size: 14px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace; color: rgb(221, 17, 68);&quot;&gt;Welcome to the Hive Foundation community! Thanks for contributing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hive_logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Hive_Foundation_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Hive Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>80%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>resource_input</name>
            <choiceReferences>StartNewResourceRequest</choiceReferences>
            <choiceReferences>EditExistingResourceRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How may we help you today?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>it_resource_name</name>
            <dataType>String</dataType>
            <fieldText>Resource Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resource_input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EditExistingResourceRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Gather information about the Resource.</description>
        <name>S2_New_Resource_Request</name>
        <label>S2 New Resource Request</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Contact</targetReference>
        </connector>
        <fields>
            <name>Dynamic_Progress_New</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>Flow_Steps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dt_guideline</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you for taking the initiative on this!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please fill out the following form and the support team will reach out to you in 48 hours to help with the next steps.&lt;/p&gt;&lt;p&gt;&lt;em&gt;&lt;u&gt;Note&lt;/u&gt;&lt;/em&gt;: All fields marked with &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt; are required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>it_Primary_Contact_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>frm_user_fullname</elementReference>
            </defaultValue>
            <fieldText>Primary Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>it_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>$User.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>it_Resource_Title</name>
            <dataType>String</dataType>
            <fieldText>Resource Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ta_Resource_Description</name>
            <fieldText>Resource Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lu_account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Resource__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>mspl_target_audience</name>
            <choiceReferences>choiceset_resource_audience_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Target Audience</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pl_resource_type</name>
            <choiceReferences>choiceset_resource_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resource Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Event_Details</name>
            <fieldText>Event Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>idt_Start_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Start Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Valid Date&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>idt_End_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>End Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Valid Date&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter Valid Date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!idt_Start_Date_and_Time} &lt; {!idt_End_Date_and_Time}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pl_resource_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Event</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Gather information about the Resource.</description>
        <name>S3_Edit_Resource_Request</name>
        <label>S3 Edit Resource Request</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Request_Action</targetReference>
        </connector>
        <fields>
            <name>Dynamic_Progress_Edit</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>Flow_Steps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dt_guideline_edit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Welcome back {!resource.Primary_Contact_Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;In this form, you&apos;ll be able to update the {!resource.Type__c} resource request you created for {!resource.Account__r.Name}. If you would like to have further support, please reach out to our support team by email at &lt;/span&gt;&lt;a href=&quot;mailto:support@example.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;support@example.com&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;&lt;u&gt;Note&lt;/u&gt;&lt;/em&gt;: All fields marked with &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt; are required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>it_email_edit</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>resource.Primary_Contact_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>it_resource_title_edit</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>resource.Resource_Title__c</elementReference>
            </defaultValue>
            <fieldText>Resource Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ta_resource_description_edit</name>
            <defaultValue>
                <stringValue>{!resource.Description__c}</stringValue>
            </defaultValue>
            <fieldText>Resource Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sc_request_cancellation</name>
            <fieldText>Request Cancellation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sc_request_cancellation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_cancel_request</name>
                    <fieldText>&lt;p&gt;If you would like to cancel your resource request, please check the checkbox below. Note that as we respect your decision and privacy, selecting this action will result in permanently deleting the resource request from our system.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cb_cancellation_confirm</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>I confirm that I would like to cancel my resource request.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide option to start a new Resource Request or look for an existing resource.</description>
        <name>S_E_Missing_Resource</name>
        <label>S_E Missing Resource</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Action</targetReference>
        </connector>
        <fields>
            <name>Dynamic_Progress_Missing</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>Flow_Steps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dt_error_missing_resource</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Unfortunately&lt;/strong&gt;, the requested resource could not be found or you don&apos;t have access to edit it.&lt;/p&gt;&lt;p&gt;What else can we do for you?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pl_i_would_like_to</name>
            <choiceReferences>StartNewResourceRequest</choiceReferences>
            <choiceReferences>EditAnotherResourceRequest</choiceReferences>
            <choiceReferences>ExitTheForm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would like to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>it_2nd_resource_name</name>
            <dataType>String</dataType>
            <fieldText>Resource Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pl_i_would_like_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EditAnotherResourceRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resource_Management</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>create_or_edit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>example_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flow_Steps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Step 1, Step 2, Step 3</stringValue>
        </value>
    </variables>
    <variables>
        <name>resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource__c</objectType>
    </variables>
    <variables>
        <name>resource_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
